@import url(menu.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

/*
========================================
    nav bar
========================================
*/

nav {
  width: 100%;
  height: 48px;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  z-index: 20;
}

.logo {
  width: 106px;
  height: 48px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
}

.logo img {
  position: fixed;
  width: 106px;
  height: 48px;
  padding: 16px 20px;
  color: white;
  z-index: 30;
}

.nav-message {
  position: fixed;
  top: 48px;
  left: 0;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 221, 51);
  width: 100%;
  height: 60px;
  padding: 0 6px;
  line-height: 60px;
  align-items: center;
  justify-content: center;
  color: black;
}

/*
========================================
    header
========================================
*/
main {
  height: 10000px;
}

.cover-story {
  margin: auto;
  margin-bottom: 5px;
  position: relative;
  top: 108px;
  width: 96%;
  height: 160px;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-position: 50%;
}

.inner {
  bottom: 4px;
  left: 4px;
  padding: 14px 12px;
  position: absolute;
  right: 4px;
}

.img-info {
  color: white;
  display: flex;
  list-style: none;
  font-size: 12px;
  line-height: 16px;
}

.space {
  padding-left: 5px;
  padding-right: 5px;
}

.cover-story span {
  color: white;
}

.cover-story a {
  color: white;
  text-decoration: none;
}

.cover-story::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

h3 {
  font-size: 20px;
}

.article-1 {
  background-image: url(../img/Amazon.jpg);
}

.article-2 {
  background-image: url(../img/weed.jpg);
}

.article-3 {
  background-image: url(../img/robot.jpg);
}

/*
===========================================================
                      img section
===========================================================
*/

.wrapper {
  margin-top: 150px;
}

.wrapper h4 {
  color: orangered;
  font-size: 28px;
  margin: 100px 0 15px 20px;
}

.wrapper ul {
  list-style: none;
}

.big-li {
  width: 385px;
  height: 72px;
  margin: auto;
  margin-top: 20px;
}

.wrapper img {
  width: 80px;
  height: 70px;
  padding-right: 10px;
}

.container-latest-img {
  margin-right: 10px;
  float: left;
  width: 72px;
  height: 72px;
  background-size: cover;
  background-position: 50%;
}

.img-1 {
  background-image: url(../img/ibm.jpg);
}

.img-2 {
  background-image: url(../img/uber.jpg);
}

.img-3 {
  background-image: url(../img/mozilla.png);
}

.img-4 {
  background-image: url(../img/Mi.jpg);
}

.img-5 {
  background-image: url(../img/lucid.jpg);
}

.img-6 {
  background-image: url(../img/google.png);
}

.img-7 {
  background-image: url(../img/corona.gif);
}

.img-8 {
  background-image: url(../img/ban.jpg);
}

.info-latest {
  margin-left: 10px;
}

h5 {
  font-size: 14px;
  color: black;
}

.container-latest li {
  font-size: 12px;
}

.container-latest a {
  color: #aaaa;
  text-decoration: none;
}
